@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #e9f0f4;
}

ul {
    color: #2e3641;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    font: 12px Lato, sans-serif;
    padding-left: 0;
}

li:first-child {
    background-color: #2e3641;
    margin: 0;
    color: #dae4eb;
    font: bold 14px Lato, sans-serif;
}

li {
    border: 1px solid #dbdbdb;
    border-top: 0;
    font-family: Lato, sans-serif;
    display: flex;
    justify-content: space-between;
}

li > div {
    padding: 10px;
}

.checkbox {
    border-right: 1px solid #f2e3df;
}

.label {
    border-left: 1px solid #f2e3df;
    flex: 1;
    margin-left: 2px;
}

#main-list {
    width: 320px;
}

.checkbox-none {
    padding-right: 30px;
    border-right: 1px solid #454f5c;
}

.label-none {
    border-left: 1px solid #454f5c;
}

.invisible {
    visibility: hidden;
}

/*input[type=checkbox] + label {*/
/*color: #ccc;*/
/*font-style: italic;*/
/*}*/

/*input[type=checkbox]:checked + label  {*/
/*color: #f00;*/
/*font-style: normal;*/
/*}*/